extends ../include/layout

block content
  .container
    .row.page-content
      each item in movies
        .page-li
          .thumbnail
            a(href="/movie/#{item._id}")
              img.page-img(src="#{item.imgsrc}", alt="#{item.title}")
            .caption
              h3= item.title
              p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 查看详情